{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<style>
      .card {
        border-radius: 1em;
        text-align: center;
        padding: 1em;
      }
      .card:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .card img {
        border-radius: 50%;
        width: 45%;
        margin: auto;
      }
</style>
<div class="container text-center my-5">
    <h1 class="fw-light text-left">{{ greetings }}</h1>
    <br>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
            {% for product in products %}
            <div class="col">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"  height="200"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Цена {{ product.price }} руб.</p>
                        <a href="{% url 'product' product.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
</div>
{% endblock %}